:root {
  /* Couleurs principales */
  --primary-color: #147104;
  --danger-color: #be0106;
  --white-color: #ffffff;
  --black-color: #000000;
  /* Variantes de primary */
  --primary-dark: #0d4702;  /* Plus foncé que primary */
  --primary-hover: #d8e6d5c9; /* Légèrement plus clair pour hover */
  --primary-disabled: rgba(20, 113, 4, 0.6); /* Version avec opacité */
  /* Variantes de danger */
  --danger-dark: #8f0104;   /* Plus foncé que danger */
  --danger-hover: #eb787b;  /* Légèrement plus clair pour hover */
  --danger-disabled: rgba(190, 1, 6, 0.6); /* Version avec opacité */
}

/* Classes de texte */
.text-primary {
  color: var(--primary-color);
}
.text-danger {
  color: var(--danger-color);
}
/* Nouvelles classes de texte */
.text-primary-dark {
  color: var(--primary-dark);
}
.text-danger-dark {
  color: var(--danger-dark);
}

/* Classes de fond */
.bg-primary {
  background-color: var(--primary-color);
}
.bg-danger {
  background-color: var(--danger-color);
}
/* Nouvelles classes de fond */
.bg-primary-dark {
  background-color: var(--primary-dark);
}
.bg-primary-hover {
  background-color: var(--primary-hover);
}
.bg-danger-dark {
  background-color: var(--danger-dark);
}
.bg-danger-hover {
  background-color: var(--danger-hover);
}
.bg-primary-light {
  background-color: rgba(5, 172, 54, 0.1);
}
.bg-danger-light {
  background-color: rgba(172, 0, 25, 0.1);
}
.bg-black {
    background-color: var(--black-color);
  }

/* Classes de bordure */
.border-primary {
  border-color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
}

.border-b-primary {
    border-bottom: 0.5px solid var(--primary-color);
  } 
  
.border-t-primary {
    border-top: 0.5px solid var(--primary-color);
} 

.border-danger {
  border-color: var(--danger-color);
  border: 0.5px solid var(--danger-color);
}
.border-b-danger {
  border-bottom: 0.5px solid var(--danger-color);
} 

.border-t-danger {
    border-top: 0.5px solid var(--danger-color);
  } 

/* Classes de display */
.d-flex {
  display: flex;
} 

/* Classes de padding */
.pb-30 {
    padding-bottom: 7.5rem;
}

.pb-40 {
  padding-bottom: 10rem;
}

/* Classes de hauteur */
.max-h-mobile {
  max-height: calc(100vh - 18rem);
}

.max-h-desktop {
  max-height: calc(100vh - 12rem);
}
